.image {
    display: inline-flex
}

.backgroundimage {
    background-position: 0px -145px;
    background-size: 757px;
}

.desk {

}

.worker{
    background-image : url('/public/images/worker.png')
}
.row{
    margin: 0;
    padding: 0;
    background: red;
    height: 40px;
}