.tile {
  display: inline-flex;
  background-color: lightskyblue;
}

.background {
  background-image: url('/tiles/background.png')
}

.coworkers {
  background-image: url('/tiles/coworkers.png')
}

.desk {
  background-image: url('/tiles/desk.png')
}

.coffee {
  background-image: url('/tiles/coffee.png')
}

.bug {
  background-image: url('/tiles/bug.png')
}